export(NesterovInitialize, SoftThresh, FindStepLengthGaussian, daarem.lasso, LassoObjFn, 
       GDLassoStep, Nesterov, TracePlot, LogisticObjFn, expit, GDLogisticStep,
       MatrixCompleteUpdate, MatrixCompleteObj, svd_soft_thresh, nidaarem)
importFrom("stats", "dbinom", "dnorm", "pnorm", "runif", "uniroot")
importFrom("utils", "modifyList")
