export(NesterovInitialize, SoftThresh, FindStepLengthGaussian, daarem.lasso, LassoObjFn, 
       GDLassoStep, Nesterov, TracePlot, LogisticObjFn, expit, GDLogisticStep)
importFrom("stats", "dbinom", "dnorm", "pnorm", "runif", "uniroot")
importFrom("utils", "modifyList")
